* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'monospace';
}

.banner {
    background-color: azure;
}

h1 {
    animation-name: example;
    animation-duration: 1s;
}


@keyframes example {
    0% {
        font-size: 32px;
    }
    50% {
        font-size: 60px;
    }
    100% {
        font-size: 32px;
    }
}