body {
  padding: 0;
  margin: 0;
  background-image: url('../img/galaxy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.container {
  background-color: rgba(204, 204, 204, 0.2);
  font-family: 'Bitter', serif;
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
  
}

.container .heading {
  color: rgba(247, 247, 248, 1);
}

.login-poster {
    background-image: url(https://connect.ignatiuz.com/hs-fs/hubfs/Helpdesk.gif?width=1250&height=1368&name=Helpdesk.gif);
    background-position: center;
    background-size:390px;
    background-repeat: no-repeat;
}

#row-login {
    height: calc(100vh - 50px - 50px);
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}



.btn-colorone {
    color : #fff;
    border-color: rgb(255, 165, 89);
    background-color: rgb(255, 96, 0);
}

.btn-colorone:hover {
    color : #fff;
    border-color: rgb(255, 150, 89);
    background-color: rgb(255, 102, 0);
}

.btn-check:focus + .btn-colorone, .btn-colorone:focus {
  color : #fff;
  border-color: rgb(255, 150, 89);
  background-color: rgb(255, 102, 0);
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.5);
}
.btn-check:checked + .btn-colorone, .btn-check:active + .btn-colorone, .btn-colorone:active, .btn-colorone.active, .show > .btn-colorone.dropdown-toggle {
  color : #fff;
  border-color: rgb(255, 150, 89);
  background-color: rgb(255, 102, 0);
}
.btn-check:checked + .btn-colorone:focus, .btn-check:active + .btn-colorone:focus, .btn-colorone:active:focus, .btn-colorone.active:focus, .show > .btn-colorone.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 102, 0, 0.5);
}
.btn-colorone:disabled, .btn-colorone.disabled {
  color : #fff;
  border-color: rgb(255, 150, 89);
  background-color: rgb(255, 102, 0);
}
