*, *::before, *::after { box-sizing: inherit; padding: 0; margin: 0; }


@font-face {
    font-family: Poppins-Light;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("/fonts/Poppins-Bold.ttf");
}


html{
    font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('/img/pexels-eberhardgross-640781.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container li{
    position:absolute;
    font-size: 35px;
    list-style: none;
    transform-origin: 190px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(140px);
    left: 0;
    z-index: 1;
}

.container li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(calc(360deg / -5 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #000;
    -webkit-tap-highlight-color: transparent;
}

.container li a:hover{
    color: #543A14;
}

.toggle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.toggle img{
    width: 100%;
    transition: transform 1s ease-in-out; 
}

.toggle.switch img{
    transform: rotate(90deg);
}

.toggle.switch ~ li {
    transform: rotate(calc(360deg / 5 * var(--i)));
}

.toggle.switch ~ h1{
    opacity: 0;
    transition: opacity 1s ease;
}

.toggle ~ h1{
    color: white;
    position: absolute;
    opacity: 1;
    transition: opacity 1.5s ease;
    text-transform: uppercase;
    letter-spacing: 4px;
    top:70%;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    cursor : default;
}

/**BACKDROP**/
.backdrop{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    color: white;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 250ms ease;
    overflow-y: scroll;

    /* Hide scrollbar for different browsers */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.backdrop::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}

.backdrop.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms ease;
}

.backdrop-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    font-size: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}




/**TOOLTIP**/
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.tooltip::after {
    content: attr(data-tooltip); /* Get tooltip text from data attribute */
    position: absolute;
    bottom: 70%; /* Position above the li */
    left: 50%;
    transform: translateX(-50%) rotate(calc(360deg / -5 * var(--i)));
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px) rotate(calc(360deg / -5 * var(--i))); /* Smooth animation */
}






